.form-div {
    width: 50%;
    margin: 0 auto;
}

.heading {
    text-align: center;
    color: blueviolet;

}

.form-div input:not([type=checkbox]) {
    display: block;
    margin-bottom: 10px;
    padding-left: 10px;
    width: 100%;
    height: 40px;

}